<h1>
  Verfügbare Fahrräder:
  <button mat-icon-button (click)="refreshBikes()">
    <mat-icon [class.rotating]="refreshing">refresh</mat-icon>
  </button>
</h1>

<google-map>
  <ng-container *ngFor="let bike of bikes; trackBy: getBikeId">
    <map-marker *ngIf="bike.position"
                [position]="bike.position | positionConverter"
                [label]="bike.name"
                [title]="bike.name">
    </map-marker>
  </ng-container>
</google-map>

<span *ngIf="bikes.length == 0">
  Zurzeit sind keine Fahrräder verfügbar.
</span>

<ul>
  <li *ngFor="let bike of bikes; trackBy: getBikeId">
    <app-overview-bike [bike]="bike" (updated)="update($event)"></app-overview-bike>
  </li>
</ul>
