<h1> Willkommen beim Community Bike-Sharing! </h1>
<h2> Login </h2>

<form>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>E-Mail</mat-label>
      <input matInput type="email" [formControl]="emailControl" [(ngModel)]="email">
      <mat-error *ngIf="emailControl.invalid && emailControl.touched">
        Ungültige E-Mail
      </mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Passwort</mat-label>
      <input matInput type="password" [formControl]="passwordControl" [(ngModel)]="password">
      <mat-error *ngIf="passwordControl.invalid && passwordControl.touched">
        Passwort eingeben
      </mat-error>
    </mat-form-field>
  </p>
</form>


<button (click)="signIn()" mat-flat-button color="primary" [disabled]="emailControl.invalid || passwordControl.invalid">
  Login
</button>
<a routerLink="/registration" mat-button> Zur Registrierung </a>
