<h1> Willkommen beim Community Bike-Sharing! </h1>
<h2> Login </h2>

<p>
  <mat-form-field appearance="standard">
    <mat-label>E-Mail</mat-label>
    <input matInput type="email" [(ngModel)]="email">
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="standard">
    <mat-label>Passwort</mat-label>
    <input matInput type="password" [(ngModel)]="password">
    <mat-hint>Mindestens 6 Zeichen</mat-hint>
  </mat-form-field>
</p>

<button (click)="signIn()" mat-flat-button color="primary"> Login</button>
<a routerLink="/registration" mat-button> Zur Registrierung </a>
