<h1> Willkommen beim Community Bike-Sharing! </h1>
<h2> Registrieren </h2>

<p>
  <mat-form-field appearance="standard">
    <mat-label>E-Mail</mat-label>
    <input matInput type="email" [(ngModel)]="email">
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="standard">
    <mat-label>Passwort</mat-label>
    <input matInput type="password" [(ngModel)]="password">
  </mat-form-field>
</p>


<button (click)="register()" mat-flat-button color="primary">Registrieren</button>
<a routerLink="/login" mat-button> Zum Login </a>
