<h1> Willkommen beim Community Bike-Sharing! </h1>
<h2> Registrieren </h2>

<form>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>E-Mail</mat-label>
      <input matInput type="email" [formControl]="emailControl" [(ngModel)]="email">
      <mat-error *ngIf="emailControl.invalid && emailControl.touched">
        Ungültige E-Mail
      </mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Passwort</mat-label>
      <input matInput type="password" [formControl]="passwordControl" [(ngModel)]="password">
      <mat-hint *ngIf="!passwordControl.touched">Mindestens 6 Zeichen</mat-hint>
      <mat-error *ngIf="passwordControl.invalid && passwordControl.touched">
        Mindestens 6 Zeichen erforderlich
      </mat-error>
    </mat-form-field>
  </p>
</form>

<button (click)="register()" mat-flat-button color="primary"
        [disabled]="emailControl.invalid || passwordControl.invalid">Registrieren
</button>
<a routerLink="/login" mat-button> Zum Login </a>
