<h1>
  Communities
</h1>

<mat-selection-list #list multiple="false">
  <mat-list-option *ngFor="let community of communities" [value]="community">
    <mat-icon mat-list-icon>people</mat-icon>
    <h4 mat-line>{{community.name}}</h4>
    <mat-divider [inset]="true"></mat-divider>
  </mat-list-option>
  <mat-list-option value="new">
    <mat-icon mat-list-icon>add</mat-icon>
    <h4 mat-line>Community erstellen</h4>
    <mat-divider [inset]="true"></mat-divider>
  </mat-list-option>
</mat-selection-list>

<p *ngIf="list.selectedOptions.selected[0]?.value == 'new'; else showExisting">
  <mat-form-field appearance="standard">
    <mat-label>Name</mat-label>
    <input matInput type="text" [(ngModel)]="newName">
  </mat-form-field>
  <button (click)="addCommunity()" mat-flat-button color="primary">Community erstellen</button>
</p>

<ng-template #showExisting>
  <p *ngIf="list.selectedOptions.selected[0]?.value != null">
    <app-community-overview [community]="list.selectedOptions.selected[0].value"></app-community-overview>
  </p>
</ng-template>
