<h1>
  Communities
</h1>

<ul>
  <li *ngFor="let community of communities">
    <button (click)="selectedCommunity = community" mat-button>{{community.name}}</button>
  </li>

  <li>
    <mat-form-field appearance="standard">
      <mat-label>Name</mat-label>
      <input matInput type="text" [(ngModel)]="newName">
    </mat-form-field>
    <button (click)="addCommunity()" mat-flat-button color="primary"> Community hinzufügen</button>
  </li>
</ul>

<div *ngIf="selectedCommunity != null">
  <app-community-overview [community]="selectedCommunity"></app-community-overview>
</div>
